.contenedor {
    width: "100%";
    display: flex;
}

.contenedor-productos {
    width: 73%;
}

.contenedor-orden {
    width: 28%;
}

.contenedor-subcategorias {
    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.producto {
    flex-grow: 1;
    width: 25%;
    max-width: 25%;
    margin: 15px;
    /* opacity: 1; */
    transition: opacity 0.05s linear 0s;
    /* animation: all 500 ease */
}

.producto:active {
    opacity: 0.5;
}

/* .producto:hover {
    opacity: 0.9;
} */